/* Tổng quan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header img {
    height: 70px;
}

.header a {
    color: #45c3d2;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.header a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/images/Bg-login.jpg);
}

.content {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.signup {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.signup p {
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.signup .dangky {
    color: #45c3d2;
    font-weight: bold;
    text-decoration: none;
}

.signup .dangky:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-group {
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 4px;
  }
  

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #45c3d2;
    outline: none;
}

/* Nút submit */
.submit {
    width: 100%;
    background: #45c3d2;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:hover {
    background: #36a5b5;
}

/* Quên mật khẩu */
.reset {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.reset p {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.reset a {
    color: #45c3d2;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.reset a:hover {
    color: #45c3d2;
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 1.5rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .submit {
        font-size: 0.9rem;
    }

    .header img {
        height: 40px;
    }
}
