.dashboard {
    height: 100vh;
}


.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 40px;
}

nz-avatar {
    cursor: pointer;
    border: 1px black solid;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.menu-avatar {
    margin-top: 15px;
    margin-left: 2.5px;
}

.content {
    margin-top: 16px;
    padding: 24px;
    background-color: #fff;
}

nz-footer {
    text-align: center;
}